.tree-svg {
  width: 1200px;
  height: 100%;
  min-height: 800px;
  pointer-events: all;
  border: none;
  border-radius: 0;
}

.tree-content {
  pointer-events: all;
}

.connection-line {
  stroke: #99999985;
  stroke-width: 2;
  fill: none;
  stroke-dasharray: 5, 5;
  pointer-events: none;
}

.node-group {
  cursor: pointer;
  pointer-events: all;
}

.node {
  stroke: none;
  transition: all 0.2s ease;
}

.node:hover {
  filter: brightness(1.3);
}

.node.selected {
  filter: drop-shadow(0 0 8px #474747) brightness(1.15);
  stroke: #c5c5c5;
  stroke-width: 2;
}

.node-plus {
  fill: #7c7c7c;
}

.node-and {
  fill: #2196f3;
}

.node-or {
  fill: #ff9800;
}

.node-query {
  fill: #4caf50;
}

.node-label {
  font-size: 26px;
  font-weight: bold;
  fill: white;
  transition: all 0.2s ease;
}

.menu {
  position: fixed;
  background-color: #343a40;
  border-color: var(--thin-border-color);
  border-radius: 1px;
  box-shadow: 0 4px 20px rgb(0 0 0 / 15%);
  overflow: hidden;
  min-width: 100px;
  z-index: 1000;
  animation: slide-up 0.2s ease-out;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-item {
  width: 100%;
  padding:  3px 8px;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  color: white;
  align-items: center;
  gap: 10px;
  transition: background-color 0.2s ease;
  text-align: left;
}

.menu-item:hover {
  background-color: #4d4e50;
}

.menu-item .icon {
  font-size: 15px;
  min-width: 24px;
  text-align: center;
}

.menu-item .label {
  font-weight: 500;
  font-size: 15px;
}

.and-item {
  border-left: 6px solid #2196f3;
}

.or-item {
  border-left: 6px solid #ff9800;
}

.query-item {
  border-left: 6px solid #4caf50;
}

.preview-container {
  opacity: 1;
  pointer-events: none;
}

.query-preview {
  pointer-events: none;
  overflow: visible;
}
