<context-menu #contextMenu menuClass="custom-style">
  <ng-template contextMenuItem [subMenu]="quickActionMenu">
    <div>
      <i class="bi bi-magic"></i>
      Quick actions
    </div>
  </ng-template>

  <context-menu #quickActionMenu>
    <ng-template
    contextMenuItem
    (execute)="onMakeOptional($event)"
    [disabled]="makeOptionalDisabled"
    >
    <div>
      <i class="bi bi-question-circle"></i>
      Make selection optional
    </div>
    </ng-template>
    <ng-template
      contextMenuItem
      (execute)="onMakeRepeatable($event)"
      [disabled]="makeRepeatableDisabled"
    >
      <div>
        <i class="bi bi-repeat"></i>
        Make selection repeatable
      </div>
    </ng-template>
  </context-menu>

  <ng-template
    contextMenuItem
    (execute)="onDelete($event)"
    [disabled]="deleteDisabled"
    let-value
  >
    <div>
      <i
        class="bi bi-trash"
        [ngClass]="!deleteDisabled(value) ? 'text-warning' : ''"
      ></i>
      Delete
    </div>
  </ng-template>
</context-menu>