:host {
  position: absolute;
  overflow: hidden;
}

.variant-modeler{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--box-background-color);
  flex-direction: column;
  border-bottom: 1px;
  border-color: var(--thin-border-color);
}

.zoom-group-variant{
  width : 100%;
  height: 100%;
}

.strategy-selected{
  background-color: #515a64;
}

.round-corners{
  border-radius: 2px;
  overflow: hidden;
}

.button-area-disabled{
  opacity: 0.5;
  user-select: none;
  pointer-events: none;

}

.button-text{
  display : inline-block;
}

.redundancy-warning{
  position: absolute;
  left: 0;
  bottom: 0;
  color: var(--bs-warning);
  background-color: rgb(0 0 0 / 100%);
  padding: 6px 5px 2.5px;
  font-size: small;
  border-top-right-radius: 4px;

}

/* Query type dropdown styling */
.vq-context-menu-select {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 4px 8px;
}

select:focus,
select:active {
  border: none;
  outline: none;
  box-shadow: none;
}


.vq-context-menu-option {
  color: #000; /* options in dropdown list render with default bg */
}
